body {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  color: black;
}

a {
  text-decoration: none;
  color: #1a8cff;
}

a:visited {
  color: #176be7;
}

a:hover {
  color: #99ccff;
}

a:focus {
  color: #99ccff;
}

a:active {
  color: #99ccff; 
}

.stickyNavBar {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.navBar {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  height: 25px;
  padding: 8px 12px 5px 12px;
  font-size: 16px;
}

.navBar a {
  display: flex;
  align-content: center;
  padding: 0px 5px;
}

.home-link {
  font-size: 20px;
}

.nav-bar-elements {
  padding-top: 3px;
}

#twitter-logo {
  position: relative;
  bottom: 1px;
  height: 20px;
  margin-right: 3px;
}

#contact-me {
  margin-left: 3px;
}

.shadow {
  width: 100%;
  height: 2px;
  background: linear-gradient(#666699, #f0f0f5);
}

.bannerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("https://meganjohn.co.uk/assets/images/timothy-eberly-gn8LE4uL5PE-unsplash.jpg");
  background-size: cover;
  background-position: 57% bottom;
  width: 100%;
  padding-top: 30%;
  opacity: 0.5;
}

.mainBody {
  margin: 5% 10%;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  font-size: small;
  color: #1a8cff;
}

footer div {
  padding: 0px 5px;
}